# Temporary folders # (at any level)
#####################
.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/template
/temp
/node_modules/
/target/
/site/
/package/
/validation_NhiPatient.html
/package.tgz
