openapi: 3.0.2
info:
  title: hip-nhi-fhir-dev-1.1
  description: This is the computable resource that describes the RESTful endpoint
  license:
    name: Creative Commons Zero v1.0 Universal
    url: http://spdx.org/licenses/CC0-1.0.html
  version: 1.0.0
  contact:
    name: Ministry of Health
    email: integration@health.govt.nz
servers:
  - url: https://api.hip.digital.health.nz/fhir/nhi/v1/
    description: The HPI endpoint
x-amazon-apigateway-request-validators:
  all:
    validateRequestBody: true
    validateRequestParameters: true
  params-only:
    validateRequestBody: false
    validateRequestParameters: true
externalDocs:
  url: https://nhi-ig.hip.digital.health.nz/CapabilityStatementNhiCapabilityStatement.html
  description: FHIR CapabilityStatement
paths:
  /fhir/nhi/v1/metadata:
    summary: Access to the Server's Capability Statement
    description: >-
      All FHIR Servers return a CapabilityStatement that describes what services
      they perform
    get:
      summary: Return the server's capability statement
      operationId: metadata
      responses:
        '200':
          description: the capbility statement
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
        '401':
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/elements'
        - $ref: '#/components/parameters/userid_header'
  
  /fhir/nhi/v1/Patient:
    summary: manage the collection of resources of type Patient
    description: >-
     The Manager for resources of type Patient: provides services to manage the collection of all the Patient instances
    get:
      summary: Search all resources of type Patient based on a set of criteria
      operationId: searchPatient
      responses:
        '200':
          description: the resource being returned
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Patient'
             
        '400':
          description: Error, with details
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
        '401':
          description: Not Authorized
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/OperationOutcome'
    parameters:
        - $ref: '#/components/parameters/nhi'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/pretty'
        - $ref: '#/components/parameters/summary'
        - $ref: '#/components/parameters/elements'
        - $ref: '#/components/parameters/userid_header'
    
  
           
  /fhir/nhi/v1/Patient/{nhiOpId}:
      summary: Read/Write/etc resource instance of type Patient
      description: >-
        Access to services to manage the state of a single resource of type Patient
      get:
        summary: Read the current state of the resource
        operationId: readPatient
        responses:
          '200':
            description: the resource being returned
            content:
              application/fhir+json:
                schema:
                  $ref: '#/components/schemas/Patient'
              
          '400':
            description: Error, with details
            content:
              application/fhir+json:
                schema:
                  $ref: '#/components/schemas/OperationOutcome'
          '401':
            description: Not Authorized
            content:
              application/fhir+json:
                schema:
                  $ref: '#/components/schemas/OperationOutcome'
        parameters:
          - $ref: '#/components/parameters/nhiOpId'          
          - $ref: '#/components/parameters/format'
          - $ref: '#/components/parameters/pretty'
          - $ref: '#/components/parameters/summary'
          - $ref: '#/components/parameters/elements'
          - $ref: '#/components/parameters/userid_header'
        
  
      post:
        summary: custom operation
        operationId: custom
        requestBody:
          description: one of $match or $set-preferred-name
          required: true
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PatientMatchRequest'
                  - $ref: '#/components/schemas/SetPreferredNameRequest'
                  - $ref: '#/components/schemas/SetAddressRequest'
        responses:
          '200':
            description: the resource being returned
            content:
              application/fhir+json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/PatientMatchResponse'
                    - $ref: '#/components/schemas/Patient'
             
          '400':
            description: Error, with details
            content:
              application/fhir+json:
                schema:
                  $ref: '#/components/schemas/OperationOutcome'
          '401':
            description: Not Authorized
            content:
              application/fhir+json:
                schema:
                  $ref: '#/components/schemas/OperationOutcome'
        parameters: 
            - $ref: '#/components/parameters/nhiOpId'             
            - $ref: '#/components/parameters/pretty'
            - $ref: '#/components/parameters/summary'
            - $ref: '#/components/parameters/elements'
            - $ref: '#/components/parameters/userid_header'
            
       
components:
  schemas:
    base64Binary:
      type: string
      description: A stream of bytes
    boolean:
      pattern: ^true|false$
      type: boolean
      description: Value of "true" or "false"
    canonical:
      pattern: ^\S*$
      type: string
      description: A URI that is a reference to a canonical URL on a FHIR resource
    code:
      pattern: ^[^\s]+(\s[^\s]+)*$
      type: string
      description: >-
        A string which has at least one character and no leading or trailing
        whitespace and where there is no whitespace other than single spaces in
        the contents
    date:
      pattern: >-
        ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$
      type: string
      description: >-
        A date or partial date (e.g. just year or year + month). There is no
        time zone. The format is a union of the schema types gYear, gYearMonth
        and date.  Dates SHALL be valid dates.
    dateTime:
      pattern: >-
        ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?$
      type: string
      description: >-
        A date, date-time or partial date (e.g. just year or year + month).  If
        hours and minutes are specified, a time zone SHALL be populated. The
        format is a union of the schema types gYear, gYearMonth, date and
        dateTime. Seconds must be provided due to schema type constraints but
        may be zero-filled and may be ignored.                 Dates SHALL be
        valid dates.
    decimal:
      pattern: ^-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?$
      type: number
      description: A rational number with implicit precision
    id:
      pattern: ^[A-Za-z0-9\-\.]{1,64}$
      type: string
      description: >-
        Any combination of letters, numerals, "-" and ".", with a length limit
        of 64 characters.  (This might be an integer, an unprefixed OID, UUID or
        any other identifier pattern that meets these constraints.)  Ids are
        case-insensitive.
    instant:
      pattern: >-
        ^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))$
      type: string
      description: An instant in time - known at least to the second
    integer:
      pattern: ^-?([0]|([1-9][0-9]*))$
      type: number
      description: A whole number
    markdown:
      pattern: ^[ \r\n\t\S]+$
      type: string
      description: >-
        A string that may contain Github Flavored Markdown syntax for optional
        processing by a mark down presentation engine
    oid:
      pattern: ^urn:oid:[0-2](\.(0|[1-9][0-9]*))+$
      type: string
      description: An OID represented as a URI
    positiveInt:
      pattern: ^[1-9][0-9]*$
      type: number
      description: An integer with a value that is positive (e.g. >0)
    string:
      pattern: ^[ \r\n\t\S]+$
      type: string
      description: A sequence of Unicode characters
    time:
      pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?$
      type: string
      description: A time during the day, with no date specified
    unsignedInt:
      pattern: ^[0]|([1-9][0-9]*)$
      type: number
      description: An integer with a value that is not negative (e.g. >= 0)
    uri:
      pattern: ^\S*$
      type: string
      description: String of characters used to identify a name or a resource
    url:
      pattern: ^\S*$
      type: string
      description: A URI that is a literal reference
    uuid:
      pattern: ^urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      type: string
      description: A UUID, represented as a URI
    
    valueDate:
        type: string
        pattern: "^([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?$"
        description: Value of extension - must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).
    
    AddressString:
      pattern: ^([a-zA-Z0-9'\s\.\-\/,])+$
      type: string
      
    NhiNumber:
      pattern: ^[A-HJ-NP-Z][A-HJ-NP-Z][A-HJ-NP-Z][0-9][0-9][0-9][0-9]|[A-HJ-NP-Z][A-HJ-NP-Z][A-HJ-NP-Z][0-9][0-9][A-HJ-NP-Z][A-HJ-NP-Z]$
      type: string
      description:  unique 7-character identification number, assigned to a patient by the Patient Index. 
            
    Meta:
      type: object
      description: >-
        The metadata about a resource. This is content in the resource that is
        maintained by the infrastructure. Changes to the content might not
        always be associated with version changes to the resource.
      properties:
        versionId:
          $ref: '#/components/schemas/id'
        profile:
          description: >-
            A list of profiles (references to [[[StructureDefinition]]]
            resources) that this resource claims to conform to. The URL is a
            reference to [[[StructureDefinition.url]]].
          items:
            $ref: '#/components/schemas/canonical'
          type: array
        security:
          description: >-
            Security labels applied to this resource. These tags connect
            specific resources to the overall security policy and
            infrastructure.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
    CodeableConcept:
      type: object
      description: >-
        A concept that may be defined by a formal reference to a terminology or
        ontology or may be provided by text.
      properties:
        id:
          $ref: '#/components/schemas/string'
        coding:
          description: A reference to a code defined by a terminology system.
          items:
            $ref: '#/components/schemas/Coding'
          type: array
        text:
          $ref: '#/components/schemas/string'
    Coding:
      type: object
      description: A reference to a code defined by a terminology system.
      properties:
        system:
          $ref: '#/components/schemas/uri'
        version:
          $ref: '#/components/schemas/string'
        code:
          $ref: '#/components/schemas/code'
        display:
          $ref: '#/components/schemas/string'
    Identifier:
      type: object
      description: >-
        An identifier - identifies some entity uniquely and unambiguously.
        Typically this is used for business identifiers.
      properties:
        id:
          $ref: '#/components/schemas/string'
        use:
          description: The purpose of this identifier.
          enum:
            - usual
            - official
            - temp
            - nickname
            - anonymous
            - old
            - maiden
        type:
          $ref: '#/components/schemas/CodeableConcept'
        system:
          $ref: '#/components/schemas/uri'
        value:
          $ref: '#/components/schemas/string'
        period:
          $ref: '#/components/schemas/Period'
        assigner:
          $ref: '#/components/schemas/Reference'
      additionalProperties: false
      
  
    Period:
      type: object
      description: A time period defined by a start and end date and optionally time.
      properties:
        id:
          $ref: '#/components/schemas/string'
        start:
          $ref: '#/components/schemas/dateTime'
        end:
          $ref: '#/components/schemas/dateTime'
      additionalProperties: false
    Reference:
      type: object
      description: A reference from one resource to another.
      properties:
        id:
          $ref: '#/components/schemas/string'
        reference:
          $ref: '#/components/schemas/string'
        type:
          $ref: '#/components/schemas/uri'
        display:
          $ref: '#/components/schemas/string'
      additionalProperties: false
      
          
    CapabilityStatement:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        resourceType:
          description: This is a CapabilityStatement resource
          enum:
            - CapabilityStatement
        id:
          $ref: '#/components/schemas/id'
        name:
          $ref: '#/components/schemas/string'
        status:
          description: >-
            The status of this capability statement. Enables tracking the
            life-cycle of the content.
          enum:
            - draft
            - active
            - retired
            - unknown
        date:
          $ref: '#/components/schemas/dateTime'
        publisher:
          $ref: '#/components/schemas/string'
        kind:
          description: >-
            The way that this statement is intended to be used, to describe an
            actual running instance of software, a particular product (kind, not
            instance of software) or a class of implementation (e.g. a desired
            purchase).
          enum:
            - instance
            - capability
            - requirements
        software:
          $ref: '#/components/schemas/CapabilityStatementSoftware'
        implementation:
          $ref: '#/components/schemas/CapabilityStatementImplementation'
        fhirVersion:
          description: >-
            The version of the FHIR specification that this CapabilityStatement
            describes (which SHALL be the same as the FHIR version of the
            CapabilityStatement itself). There is no default value.
          enum:
            - 4.0.1
        format:
          description: >-
            A list of the formats supported by this implementation using their
            content types.
          items:
            $ref: '#/components/schemas/code'
          type: array
        implementationGuide:
          description: >-
            A list of implementation guides that the server does (or should)
            support in their entirety.
          items:
            $ref: '#/components/schemas/canonical'
          type: array
        rest:
          description: A definition of the restful capabilities of the solution, if any.
          items:
            $ref: '#/components/schemas/CapabilityStatementRest'
          type: array
      additionalProperties: false
    CapabilityStatementSoftware:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        id:
          $ref: '#/components/schemas/string'
        name:
          $ref: '#/components/schemas/string'
        version:
          $ref: '#/components/schemas/string'
        releaseDate:
          $ref: '#/components/schemas/dateTime'
      additionalProperties: false
    CapabilityStatementImplementation:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        id:
          $ref: '#/components/schemas/string'
        description:
          $ref: '#/components/schemas/string'
        url:
          $ref: '#/components/schemas/url'
        custodian:
          $ref: '#/components/schemas/Reference'
      additionalProperties: false
    CapabilityStatementRest:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        mode:
          description: >-
            Identifies whether this portion of the statement is describing the
            ability to initiate or receive restful operations.
          enum:
            - client
            - server
        resource:
          description: >-
            A specification of the restful capabilities of the solution for a
            specific resource type.
          items:
            $ref: '#/components/schemas/CapabilityStatementResource'
          type: array
      additionalProperties: false
    CapabilityStatementResource:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        type:
          $ref: '#/components/schemas/code'
        profile:
          $ref: '#/components/schemas/canonical'
        interaction:
          description: Identifies a restful operation supported by the solution.
          items:
            $ref: '#/components/schemas/CapabilityStatementInteraction'
          type: array
        searchInclude:
          description: A list of _include values supported by the server.
          items:
            $ref: '#/components/schemas/string'
          type: array
        searchRevInclude:
          description: >-
            A list of _revinclude (reverse include) values supported by the
            server.
          items:
            $ref: '#/components/schemas/string'
          type: array
        searchParam:
          description: >-
            Search parameters for implementations to support and/or make use of
            - either references to ones defined in the specification, or
            additional ones defined for/by the implementation.
          items:
            $ref: '#/components/schemas/CapabilityStatementSearchParam'
          type: array
      additionalProperties: false
    CapabilityStatementInteraction:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        code:
          description: Coded identifier of the operation, supported by the system resource.
          enum:
            - read
            - vread
            - update
            - patch
            - delete
            - history-instance
            - history-type
            - create
            - search-type
        searchInclude:
          description: A list of _include values supported by the server.
          items:
            $ref: '#/components/schemas/string'
          type: array
        searchParam:
          description: >-
            Search parameters for implementations to support and/or make use of
            - either references to ones defined in the specification, or
            additional ones defined for/by the implementation.
          items:
            $ref: '#/components/schemas/CapabilityStatementSearchParam'
          type: array
      additionalProperties: false
    CapabilityStatementSearchParam:
      type: object
      description: >-
        A Capability Statement documents a set of capabilities (behaviors) of a
        FHIR Server for a particular version of FHIR that may be used as a
        statement of actual server functionality or a statement of required or
        desired server implementation.
      properties:
        name:
          $ref: '#/components/schemas/string'
        type:
          description: >-
            The type of value a search parameter refers to, and how the content
            is interpreted.
          enum:
            - number
            - date
            - string
            - token
            - reference
            - composite
            - quantity
            - uri
            - special
        documentation:
          $ref: '#/components/schemas/markdown'
      additionalProperties: false
    OperationOutcome:
      type: object
      description: >-
        A collection of error, warning, or information messages that result from
        a system action.
      properties:
        issue:
          description: >-
            An error, warning, or information message that results from a system
            action.
          items:
            $ref: '#/components/schemas/OperationOutcomeIssue'
          type: array
      additionalProperties: false
    OperationOutcomeIssue:
      type: object
      description: >-
        A collection of error, warning, or information messages that result from
        a system action.
      properties:
        severity:
          description: >-
            Indicates whether the issue indicates a variation from successful
            processing.
          enum:
            - fatal
            - error
            - warning
            - information
        code:
          description: >-
            Describes the type of the issue. The system that creates an
            OperationOutcome SHALL choose the most applicable code from the
            IssueType value set, and may additional provide its own code for the
            error in the details element.
          enum:
            - invalid
            - structure
            - required
            - value
            - invariant
            - security
            - login
            - unknown
            - expired
            - forbidden
            - suppressed
            - processing
            - not-supported
            - duplicate
            - multiple-matches
            - not-found
            - deleted
            - too-long
            - code-invalid
            - extension
            - too-costly
            - business-rule
            - conflict
            - transient
            - lock-error
            - no-store
            - exception
            - timeout
            - incomplete
            - throttled
            - informational
        diagnostics:
          $ref: '#/components/schemas/string'
      additionalProperties: false
      
    Patient:
      type: object
      description: >-
        The Patient resource exposed by the NHI.
      properties:
        resourceType:
          description: This is a Practitioner resource
          enum:
              - Patient
        
        #The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.
        id:
          $ref: '#/components/schemas/id'
        
        #The metadata about the resource. This is content that is maintained by the infrastructure. Changes to the content might not always be associated with version changes to the resource.
        meta:
          $ref: '#/components/schemas/Meta'
        
        #The base language in which the resource is written.
        identifier:
                description: >-
                  An identifier that applies to this person\u0027s qualification
                  in this role
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/NHIIdentifer'
                    - $ref: '#/components/schemas/NHIDormantIdentifer'
        
        # A name associated with the individual.           
        name:
          type: array
          items:
            $ref: '#/components/schemas/NhiHumanName' 
          minItems: 1
                     
        # The date of birth for the individual
        birthDate:
           $ref:  '#/components/schemas/date'
        _birthDate:   
          $ref:  '#/components/schemas/NhiBirthDateInformationsource'
        
        # Administrative Gender - the gender that the patient is considered to have for administration and record keeping purposes
        gender:
           $ref:  '#/components/schemas/string'
        _gender:
           type: object
           properties:
            extension:
              type: array
              items:
                type: object
                properties:                    
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/gender-original-text'
                  valueString:
                    $ref:  '#/components/schemas/string'
                required:
                  - url       
                additionalProperties: false
           additionalProperties: false 
        
        # Indicates if the individual is deceased or not.
        deceasedDateTime:
           $ref:  '#/components/schemas/dateTime'
       
        _deceasedDateTime:
          type: object
          properties:       
            extension:
              type: array
              items:
                type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/information-source'
                  valueCodeableConcept:
                    type: object
                    properties:
                      coding:
                        type: array
                        items:
                          type: object
                          properties:
                            system:
                              #required binding: https://nzhts.digital.health.nz/fhir/ValueSet/dod-information-source-code
                              enum:
                                - 'https://standards.digital.health.nz/ns/information-source-code'
                            version:
                                $ref: '#/components/schemas/string'
                            code:
                                $ref: '#/components/schemas/code'
                            display:
                                $ref: '#/components/schemas/string'
                          required:
                            - system            
                          additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
                required:
                  - url
          additionalProperties: false
          
         
        # An address expressed using postal conventions (as opposed to GPS or other location definition formats)       
        address:           
          type: array
          items:
            $ref: '#/components/schemas/NhiAddress' 
          minItems: 1
            
        extension:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/NzEthnicityExtension'
              - $ref: '#/components/schemas/NzCitizenshipExtension'
              - $ref: '#/components/schemas/BirthPlaceExtension'             
          
          
      additionalProperties: false
      
    NhiAddressType:
      type: string
      enum:
        - postal
        - physical
      
    NHIIdentifer:
      type: object
      description: The NHI number is a unique number for all New Zealanders, assigned at birth
      properties:
        use:
          enum:
            - official
        system:
          enum:
            - https://standards.digital.health.nz/ns/nhi-id 
        value:
          type: string
        assigner:
          $ref: '#/components/schemas/Reference'
      required:
        - use
        - system
      additionalProperties: false
    
    NHIDormantIdentifer:
      type: object
      description: An NHI of the person that is no longer in use.   An NHI becomes dormant when it is discovered that 2 NHIs exist for the same person. The NHIs are linked, one becomes ‘live’ the other ‘dormant'
      properties:
        use:
          enum:
            - old
        system:
          type: string
        value:
          type: string  
        assigner:
          $ref: '#/components/schemas/Reference'    
      required:
        - use
      additionalProperties: false
      
    NhiHumanName:
      type: object
      description: A human's name with the ability to identify parts and usage.
      properties:
        id:
          $ref: '#/components/schemas/string'
        use:
          description: Identifies the purpose for this name.
          enum:
            - usual
            - official
            - temp
            - nickname
            - anonymous
            - old
            - maiden
        text:
          $ref: '#/components/schemas/string'
        family:
          $ref: '#/components/schemas/string'
        given:
          description: Given name.
          items:
            $ref: '#/components/schemas/string'
          type: array
        prefix:
          description: >-
            Part of the name that is acquired as a title due to academic, legal,
            employment or nobility status, etc. and that appears at the start of
            the name.
          items:
            # required binding : https://nzhts.digital.health.nz/fhir/ValueSet/name-prefix-code            
            $ref: '#/components/schemas/string'
          type: array
        suffix:
          description: >-
            Part of the name that is acquired as a title due to academic, legal,
            employment or nobility status, etc. and that appears at the end of
            the name.
          # required binding : https://nzhts.digital.health.nz/fhir/ValueSet/name-suffix-code
          items:
            $ref: '#/components/schemas/string'
          type: array
        period:
          $ref: '#/components/schemas/Period'
        extension:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org/fhir/StructureDefinition/iso21090-preferred'
                  valueBoolean:
                    type: boolean
                required:
                  - url
                additionalProperties: false
              - type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/information-source'
                  valueCodeableConcept:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                #required binding: https://nzhts.digital.health.nz/fhir/ValueSet/name-source-code
                                enum:
                                  - 'https://standards.digital.health.nz/ns/information-source-code'
                              version:
                                  $ref: '#/components/schemas/string'
                              code:
                                  $ref: '#/components/schemas/code'
                              display:
                                  $ref: '#/components/schemas/string'
                            required:
                              - system            
                            additionalProperties: false
                        text:    
                            $ref: '#/components/schemas/string'
                      additionalProperties: false
                additionalProperties: false
                required:
                  - url
                  
              - type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/name-use-extra'
                  valueCodeableConcept:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                #required binding:https://nzhts.digital.health.nz/fhir/ValueSet/nhi-name-use-extra-code
                                enum:
                                  - 'https://standards.digital.health.nz/ns/nhi-name-use-extra-code'
                              version:
                                  $ref: '#/components/schemas/string'
                              code:
                                  $ref: '#/components/schemas/code'
                              display:
                                  $ref: '#/components/schemas/string'
                            required:
                              - system            
                            additionalProperties: false
                        text:    
                            $ref: '#/components/schemas/string'
                      additionalProperties: false                            
                additionalProperties: false
                required:
                  - url                         
      additionalProperties: false
      
  
    NhiBirthDateInformationsource:
      type: object
      properties:
        extension:
          type: array
          items:
            type: object
            properties:
              url:
                enum:
                  - 'http://hl7.org.nz/fhir/StructureDefinition/information-source'
              valueCodeableConcept:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                #required binding: https://nzhts.digital.health.nz/fhir/ValueSet/date-of-birth-source-code
                                enum:
                                  - 'https://standards.digital.health.nz/ns/information-source-code'
                              version:
                                  $ref: '#/components/schemas/string'
                              code:
                                  $ref: '#/components/schemas/code'
                              display:
                                  $ref: '#/components/schemas/string'
                            required:
                              - system            
                            additionalProperties: false
                        text:    
                            $ref: '#/components/schemas/string'
                      additionalProperties: false              
              
            
       
    
    NhiAddress:
      description: Adds additional, NHI specific extensions
      type: object
      properties:
        # The purpose of this address
        # required binding : https://nzhts.digital.health.nz/fhir/ValueSet/nhiaddressUse        
        use: 
          $ref: '#/components/schemas/code'
          
        # Distinguishes between physical addresses (those you can visit) and mailing addresses (e.g. PO Boxes and care-of addresses). Most addresses are both.
        # required binding :  https://nzhts.digital.health.nz/fhir/ValueSet/addressType
        type:
           $ref: '#/components/schemas/code' 
       
        # This component contains the house number, apartment number, street name, street direction,  P.O. Box number, delivery hints, and similar address information.
        line:       
          type: array
          items:
            $ref: '#/components/schemas/string'
        
        # Specifies the entire address as it should be displayed e.g. on a postal label. This may be provided instead of or as well as the specific parts.
        text:
             $ref: '#/components/schemas/string'
        
        # required binding :  https://nzhts.digital.health.nz/fhir/ValueSet/country-code
        country:
             $ref: '#/components/schemas/string'                     
        extension:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/not-validated-address-reason'
                  valueCodeableConcept:
                    type: object
                    description: The reason why the address has not been validated
                    properties:
                      #preferred binding:  https://nzhts.digital.health.nz/fhir/ValueSet/address-not-validated-reason-code
                      coding:
                        type: array
                        items:
                         $ref: '#/components/schemas/Coding'
                      text:
                        $ref: '#/components/schemas/string'
                    additionalProperties: false 
                required:
                  - url       
                additionalProperties: false
                
              - type: object
                description: Indicates this is the primary residential address - each patient must have one and only one
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/is-primary-address'
                  valueBoolean:
                    $ref: '#/components/schemas/boolean'
                required:
                  - url 
                additionalProperties: false 
              
              - $ref: '#/components/schemas/NzGeocode'
                                
              - type: object
                description: Suburb element of a NZ Address
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/suburb'
                  valueBoolean:
                    $ref: '#/components/schemas/string'
                required:
                  - url 
                additionalProperties: false 
              
              - type: object
                description:  The name of a building cited in an address
                properties:
                    url:
                      enum:
                        - 'http://hl7.org.nz/fhir/StructureDefinition/building-name'
                    valueBoolean:
                      $ref: '#/components/schemas/string'
                required:
                    - url 
                additionalProperties: false    
              
              - type: object
                description: Uniquely identifies this address as a physical entity. Will remain constant over time even if address administrative data such as DPID change
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/nz-address-id'
                  valueBoolean:
                    $ref: '#/components/schemas/string'
                required:
                  - url 
                additionalProperties: false 
                
                
              - type: object
                properties:
                  url:
                    enum:
                      - 'http://hl7.org.nz/fhir/StructureDefinition/domicile-code'
                  valueCodeableConcept:
                    type: object
                    description: NZ Domicile Code. Derived from a patient's primary physical, home address.
                    properties:
                      #preferred binding:  https://nzhts.digital.health.nz/fhir/ValueSet/domicile-code
                       coding:
                          $ref: '#/components/schemas/Coding'
                    additionalProperties: false 
                required:
                      - url       
                additionalProperties: false 
      required:
        - type
      additionalProperties: false
                  
    NzGeocode:
      type: object
      description:  New Zealand Geocode. This uses a different datum from that defined in the HL7 FHIR specification for a Geocode.
      properties:
        url: 
          enum:
            - 'http://hl7.org.nz/fhir/StructureDefinition/nz-geocode'
        latitude:
          type: object
          description: The latitude of the geocode
          properties:
            url:
              enum:
                - latitude
            valueDecimal: 
              $ref: '#/components/schemas/decimal'
        longitude:
          type: object
          description: The longitude of the geocode
          properties:
            url:            
              enum:
                - longitude
            valueDecimal: 
              $ref: '#/components/schemas/decimal'   
         
        datumCode:
           type: object
           description: Datum codes used
           properties:
              url:
                enum:
                  - 'datumCode'
              valueCodeableConcept:
                type: object
                properties:
                  # preferred binding: https://nzhts.digital.health.nz/fhir/ValueSet/nz-datum-code
                  coding:
                     $ref: '#/components/schemas/Coding'
                additionalProperties: false
       
         
    NzEthnicityExtension:
      type: object
      description: The ethnic group or groups that a person identifies with or feels they belong to.  Ethnicity is a measure of cultural affiliation as opposed to race, ancestry, nationality or citizen.  Ethnicity is self-perceived and a person can belong to more than one group.
      properties:
        url:
          enum:
            - 'http://hl7.org.nz/fhir/StructureDefinition/nz-ethnicity'
        valueCodeableConcept:
          type: object
          properties:
            coding:
              type: array
              items:
                $ref: '#/components/schemas/Coding'
      required:
        - url
        - valueCodeableConcept
      additionalProperties: false   
    
    NzCitizenshipExtension:
       type: object
       description: New Zealand citizenship
       properties:
          url:
            enum:
              - 'http://hl7.org.nz/fhir/StructureDefinition/nz-citizenship'
          extension:
            type: array
            items:
              anyOf:
                - type: object
                  properties:
                    url:
                      enum:
                        - source
                    valueCodeableConcept:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              # required binding: https://nzhts.digital.health.nz/fhir/ValueSet/nz-citizenship-source-code
                              system:
                                enum:
                                  - 'https://standards.digital.health.nz/ns/information-source-code'
                              version:
                                  $ref: '#/components/schemas/string'
                              code:
                                  $ref: '#/components/schemas/code'
                              display:
                                  $ref: '#/components/schemas/string'
                            required:
                              - system            
                            additionalProperties: false
                        text:    
                            $ref: '#/components/schemas/string'
                      additionalProperties: false
                        
                  required:
                    - url            
                  additionalProperties: false
                
                - type: object
                  properties:
                    url:
                      enum:
                        - status
                    valueCodeableConcept:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:                        
                            $ref: '#/components/schemas/Coding'
                        text:    
                            $ref: '#/components/schemas/string'                            
                      additionalProperties: false
                        
                  required:
                    - url            
                  additionalProperties: false
    
    NZResidencyStatusExtension:
       type: object
       description : NZ Residency status
       properties:
          url:
            enum:
              - 'http://hl7.org.nz/fhir/StructureDefinition/nz-residency-status'
          extension:
            type: array
            items:
              anyOf:
               
                - type: object
                  description: Residency Status
                  properties:
                    url:
                      enum:
                        - status
                    valueCodeableConcept:
                      type: object
                      properties:
                        #preferred binding: http://build.fhir.org/ig/HL7NZ/nzbase/branches/master/ValueSet-nz-residency-status.html                        
                        coding:
                          $ref: '#/components/schemas/Coding'                                                                         
                      additionalProperties: false
                        
                  required:
                    - url            
                  additionalProperties: false
                             
                - type: object
                  description: The source of information concerning the residency
                  properties:
                    url:
                      enum:
                        - source
                    valueCodeableConcept:
                      type: object
                      properties:
                        #preferred binding:http://build.fhir.org/ig/HL7NZ/nzbase/branches/master/ValueSet-nz-residency-status.html
                        coding:
                          $ref: '#/components/schemas/Coding'                   
                      additionalProperties: false                       
                  required:
                    - url            
                  additionalProperties: false            
       required:
          - url            
       additionalProperties: false     
       
    BirthPlaceExtension:
      type: object
      description: The country where the person was born 
      properties:
        url:
          enum:
            - 'http://hl7.org.nz/fhir/StructureDefinition/birth-place'
        extension:
         type: array
         items:
           anyOf:
            - type: object
              description: The birth country.
              properties:
                url:
                  enum:
                    - 'country'
                valueCodeableConcept:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        anyOf:
                          - type: object
                            properties:
                              system:
                                enum:
                                  - urn:iso:std:iso:3166
                              version:
                                  $ref: '#/components/schemas/string'
                              code:
                                  $ref: '#/components/schemas/code'
                              display:
                                  $ref: '#/components/schemas/string'
                            required:
                              - system
                            additionalProperties: false                   
                  additionalProperties: false
                  
            - type: object
              properties:
                url:
                  enum:
                    -  'placeofbirth'
                valueString:
                  $ref: '#/components/schemas/string'
              required:
                - url
              additionalProperties: false
                  
            - type: object
              description: The source of information concerning the country of birth
              properties:               
                url:
                  enum:
                    -  'source'
                valueCodeableConcept:
                   type: object
                   properties:
                      coding:  
                        type: array
                        items:
                          type: object
                          properties:
                            system:
                              enum:  
                                - 'https://standards.digital.health.nz/ns/information-source-code'
                            version:
                                $ref: '#/components/schemas/string'
                            code:
                                $ref: '#/components/schemas/code'
                            display:
                                $ref: '#/components/schemas/string'
                          required:
                            - system
                          additionalProperties: false
              required:
                - url 
              additionalProperties: false    
      required:
          - url            
      additionalProperties: false
      
    PatientMatchRequest:
      type: object
      properties:
        resourceType:
          enum:
            - 'Parameters'
        id:
          $ref: '#/components/schemas/string'          
        parameter:
          description: An array of paramaters describing what to match or validate. Must contain exactly one patient resource, 0..1 count values , 0..1 onlyCertainMatches values
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/ParameterResource'
              - $ref: '#/components/schemas/ParameterCount'
              - $ref: '#/components/schemas/ParameterOnlyCertainMatches'
          minItems: 1
          maxItems: 3
      required:      
          - resourceType            
      additionalProperties: false
           
    SetPreferredNameRequest:
      type: object
      properties:
        resourceType:
          enum:
            - 'Parameters'
        id:
          $ref: '#/components/schemas/string'          
        parameter:
          description: An array of paramaters describing what to match or validate. Must contain exactly one patient resource, 0..1 count values , 0..1 onlyCertainMatches values
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/ParameterNhi'
              - $ref: '#/components/schemas/ParameterVersionId'
              - $ref: '#/components/schemas/ParameterPreferredId'
          minItems: 3
          maxItems: 3
      required:      
          - resourceType            
      additionalProperties: false
      
      
    SetAddressRequest:
      type: object
      properties:
        resourceType:
          enum:
            - 'Parameters'
        id:
          $ref: '#/components/schemas/string'          
        parameter:
          description: An array of paramaters describing what to match or validate. Must contain exactly one patient resource, 0..1 count values , 0..1 onlyCertainMatches values
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/ParameterNhi'
              - $ref: '#/components/schemas/ParameterVersionId'
              - $ref: '#/components/schemas/ParameterAddressType'
              - $ref: '#/components/schemas/ParameterNzAddressId'
              - $ref: '#/components/schemas/ParameterAddressLine'
              - $ref: '#/components/schemas/ParameterBuildingName'
      required:      
          - resourceType            
      additionalProperties: false
      


    ParameterAddressType:
      type: object
      description: type of addeses - postal or physical
      properties:       
        name:
          enum:
            - 'address-type'
        valueInteger:
           $ref: '#/components/schemas/NhiAddressType'
      required:
          - name            
      additionalProperties: false
      
    ParameterNzAddressId:
      type: object
      description: eSAM validated address id
      properties:       
        name:
          enum:
            - 'nz-address-id'
        valueInteger:
           $ref: '#/components/schemas/id'
      required:
          - name            
      additionalProperties: false
      
    ParameterAddressLine:
      type: object
      description: first line of the address as returned by eSAM
      properties:       
        name:
          enum:
            - 'address-line'
        valueInteger:
           $ref: '#/components/schemas/AddressString'
      required:
          - name            
      additionalProperties: false
      
    ParameterBuildingName:
      type: object     
      properties:       
        name:
          enum:
            - 'building-name'
        valueInteger:
           $ref: '#/components/schemas/AddressString'
      required:
          - name            
      additionalProperties: false
      
                    
    ParameterResource:
      type: object
      description: Use this to provide an entire set of patient details for the MPI to match against (e.g. POST a patient record to Patient/$match).
      properties:
        name:
          enum:
            - 'resource'
        resource:
           $ref: '#/components/schemas/Patient'
      required:
          - name            
      additionalProperties: false
           
    ParameterCount:    
      type: object
      description: The maximum number of records to return. If no value is provided, the server decides how many matches to return. Note that clients should be careful when using this, as it may prevent probable - and valid - matches from being returned
      properties:
        name:
          enum:
            - 'count'
        valueInteger:
           $ref: '#/components/schemas/integer'
      required:
          - name            
      additionalProperties: false
      
    ParameterOnlyCertainMatches:
      type: object
      description: If there are multiple potential matches, then the match should not return the results with this flag set to true. When false, the server may return multiple results with each result graded accordingly.
      properties:
        name:
          enum:
            - 'onlyCertainMatches'
        valueBoolean:
           $ref: '#/components/schemas/boolean'   
    
    ParameterNhi:    
      type: object
      description:  patient identifier
      properties:
        name:
          enum:
            - 'nhi'
        valueInteger:
           $ref: '#/components/schemas/NhiNumber'
      required:
          - name            
      additionalProperties: false   
      
    ParameterVersionId:    
      type: object
      description:  patient version
      properties:
        name:
          enum:
            - 'version-id'
        valueInteger:
           $ref: '#/components/schemas/integer'
      required:
          - name            
      additionalProperties: false   
      
    ParameterPreferredId:    
      type: object
      description:  Id of the preferred element
      properties:
        name:
          enum:
            - 'preferred-id'
        valueInteger:
           $ref: '#/components/schemas/integer'
      required:
          - name            
      additionalProperties: false   
      
    PatientMatchResponse:
      type: object
      properties:        
        resourceType:
          enum:
            - 'Bundle'
        type:
          enum:
            - 'searchset'
        entry:
          type: array
          items:
            type: object
            properties:
               resource:                
                  $ref: '#/components/schemas/Patient'   
                  
    CustomOperationName:      
        type: string
        enum:
          - '$match'
          - '$set-preferred-name' 
          - '$set-address'       
          
    Rid:      
        type: string
       
      
  parameters:
  
    nhiOpId:
      name: nhiOpId
      in: path
      description: id identifies the kind of post operation
      required: true
      allowEmptyValue: false
      style: simple
      schema:
       oneOf:
              - $ref: '#/components/schemas/Rid'
              - $ref: '#/components/schemas/CustomOperationName'  

    
          
    rid:
      name: rid
      in: path
      description: id of the resource (=Resource.id)
      required: true
      allowEmptyValue: false
      style: simple
      schema:
        $ref: '#/components/schemas/string'
        
               
    nhi:
      name: nhi
      in: query
      description: NHI number
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/string'
        
    summary:
      name: _summary
      in: query
      description: Requests the server to return a designated subset of the resource
      allowEmptyValue: true
      style: form
      schema:
        type: string
        enum:
          - 'true'
          - text
          - data
          - count
          - 'false'
    format:
      name: _format
      in: query
      description: >-
        Specify alternative response formats by their MIME-types (when a client
        is unable acccess accept: header)
      allowEmptyValue: true
      style: form
      schema:
        type: string
        format: mime-type
    pretty:
      name: _pretty
      in: query
      description: Ask for a pretty printed response for human convenience
      allowEmptyValue: true
      style: form
      schema:
        type: boolean
    elements:
      name: _elements
      in: query
      description: Requests the server to return a collection of elements from the resource
      allowEmptyValue: true
      style: form
      explode: false
      schema:
        type: array
        format: string
        items:
          format: string
    count:
      name: _count
      in: query
      description: >-
        The maximum number of search results on a page. The server is not bound
        to return the number requested, but cannot return more
      schema:
        type: number
    userid_header:
      name: userid
      in: header
      required: true
      schema:
        type: string
